<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约管理</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
</head>
<body>
<div style="padding: 0 30px;">
    <div class="table_head_left">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="showApply">显示当前预约</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="showCanceled">显示已取消的预约</button>
    </div>
    <table class="layui-hide" id="bookTable" lay-filter="bookTable"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="cancel">取消预约</a>
</script>
<script src="/js/layui/layui.js"></script>
<script src="/js/gym/book.js"></script>
</body>
</html>
