<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
</head>
<body style="margin: 10px">
<div class="layer_self_wrap">
    <form class="layui-form" lay-filter="myForm" style="margin-top: 20px">
        <div style="padding-right:50px">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名<span style="color: red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="username" autocomplete="off" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名<span style="color: red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="name" autocomplete="off" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="pwd" autocomplete="off" class="layui-input" placeholder="默认密码为：654321">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="text" name="tel" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身份证号码</label>
                <div class="layui-input-block">
                    <input type="text" name="idNumber" autocomplete="off" class="layui-input" >
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职位<span style="color: red">*</span></label>
                <div class="layui-input-block">
                    <select name="role" id="role">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入职时间</label>
                <div class="layui-input-block">
                    <input type="button" class="layui-input" id="roleTime" name="roleTime" placeholder="yyyy-MM" autocomplete="false">
                </div>
            </div>

        </div>
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-input-block" style="margin-left: 0">
                <button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
                <button type="button" class="layui-btn layui-btn-primary" id="close">关闭</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/layui/layui.js"></script>
<script src="/js/sys/userAdd.js"></script>

</body>
</html>
