<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gymmanage.client.dao.ClientMapper" >
    <insert id="clientAdd">
        insert into gym_client (user_name, tel,sex, age, birth, address,is_vip)
        values (#{user_name},#{tel},#{sex},#{age},#{birth},#{address},#{is_vip})
    </insert>
    <update id="clientUpdate">
        update gym_client
        set
        user_name = #{user_name},
        tel = #{tel},
        sex = #{sex},
        age = #{age},
        birth = #{birth},
        address = #{address},
        is_vip = #{is_vip}
        where id = #{id}
    </update>
    <delete id="clientDel">
         delete from gym_client where id = #{id}
    </delete>
    <select id="selectAll" resultType="com.gymmanage.client.entity.Client">
        select * from gym_client
    </select>
    <select id="getOne" resultType="com.gymmanage.client.entity.Client">
        select * from gym_client where id = #{id}
    </select>
</mapper>
