<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gymmanage.gym.dao.PlaceMapper" >
  <resultMap id="BaseResultMap" type="com.gymmanage.gym.entity.Place" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="kind_id" property="kindId" jdbcType="INTEGER" />
    <result column="kindName" property="kindName" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <select id="getAllPlace" resultType="com.gymmanage.gym.entity.Place">
    select p.*, p.manager_id as managerId, p.kind_id as kindId,
    k.name as kindName, u.name as managerName from gym_place p
    left join gym_place_kind k on p.kind_id = k.id
    left join sys_user u on p.manager_id = u.id
    <where>
      <if test="kindId != null and kindId != ''">
        and kind_id = #{kindId}
      </if>
    </where>
  </select>
  <select id="getAllPlaceKind" resultType="com.gymmanage.gym.entity.PlaceKind">
    select k.id, k.name, u.name as managerName from gym_place_kind k
    left join sys_user u on k.manager_id = u.id
  </select>
</mapper>
