<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gymmanage.gym.dao.BookMapper" >
    <select id="selectAll" resultType="com.gymmanage.gym.entity.Book">
        select b.*, p.name as placeName, u.name as userName
        from gym_book b
        left join gym_place p
        on b.place_id = p.id
        left join sys_user u
        on b.user_id = u.id
    </select>

</mapper>
